<div class="row">
  <!-- Sidebar -->
  <div class="col-2 p-0" style="min-height: 795px;">
    <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="width: 100%; height: 100%;">
      <a href="#" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
        <span class="fs-4">Nhi Computer</span>
      </a>
      <hr>
      <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
          <a [routerLink]="['/dashboard']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="nav-link" aria-current="page">
            <i class="bi bi-house-door"></i>
            Trang chủ
          </a>
        </li>
        <li>
          <a [routerLink]="['/orders']" routerLinkActive="active" class="nav-link" [routerLinkActiveOptions]="{exact: true}">
            <i class="bi bi-receipt-cutoff"></i>
            Đơn hàng
          </a>
        </li>
        <li>
          <a [routerLink]="['/categories']" routerLinkActive="active" class="nav-link" [routerLinkActiveOptions]="{exact: true}">
            <i class="bi bi-tags"></i>
            Nhãn hàng
          </a>
        </li>
        <li>
          <a [routerLink]="['/products']" routerLinkActive="active" class="nav-link" [routerLinkActiveOptions]="{exact: true}">
            <i class="bi bi-display"></i>
            Sản phẩm
          </a>
        </li>
        <li>
          <a [routerLink]="['/subcategories']" routerLinkActive="active" class="nav-link" [routerLinkActiveOptions]="{exact: true}">
            <i class="bi bi-display"></i>
            Loại sản phẩm
          </a>
        <li>
          <a [routerLink]="['/users']" routerLinkActive="active" class="nav-link" [routerLinkActiveOptions]="{exact: true}">
            <i class="bi bi-people-fill"></i>
            Người dùng
          </a>
        </li>
        <li>
          <a [routerLink]="['/rates']" routerLinkActive="active" class="nav-link" [routerLinkActiveOptions]="{exact: true}">
            <i class="bi bi-list-stars"></i>
            Bình luận & đánh giá
          </a>
        </li>
        <li>
          <a [routerLink]="['/product-images']" routerLinkActive="active" class="nav-link" [routerLinkActiveOptions]="{exact: true}">
            <i class="bi bi-images"></i>
            Hình ảnh sản phẩm
          </a>
        <li>
          <a [routerLink]="['/statistical']" routerLinkActive="active" class="nav-link" [routerLinkActiveOptions]="{exact: true}">
            <i class="bi bi-reception-4"></i>
            Doanh thu
          </a>
        </li>
      </ul>
      <hr>
      <div class="dropdown">
        <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
           id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
          <img [src]="image" alt="" width="32" height="32" class="rounded-circle me-2">
          <strong>Account</strong>
        </a>
        <ul class="dropdown-menu dropdown-menu-dark bg-dark text-small shadow" aria-labelledby="dropdownUser1">
          <li><app-edit-profile (editFinish)="finish()"></app-edit-profile></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" style="cursor: pointer;" (click)="logout()">Đăng xuất</a></li>
        </ul>
      </div>
    </div>
  </div>

  <!-- Main Content -->
  <div class="col-9 p-0 mt-4 mx-auto">
    <div class="col">
      <h2 class="section-title">Quản lý hình ảnh sản phẩm</h2>
      <div class="spinner-container" *ngIf="isLoading">
        <div class="spinner-border" role="status"></div>
      </div>

      <div class="search-container d-flex justify-content-between align-items-center">
        <mat-form-field appearance="outline" class="search-field">
          <mat-label>Tìm kiếm</mat-label>
          <input matInput type="text" (keyup)="search($event)" placeholder="Nhập từ khóa tìm kiếm" />
        </mat-form-field>
        <app-product-image-upload-dialog (saveFinish)="finish()" class="add-product-btn"></app-product-image-upload-dialog>
      </div>

      <div class="table-container">
        <table mat-table [dataSource]="listData" matSort class="mat-elevation-z8 custom-table">
          <ng-container matColumnDef="image">
            <th mat-header-cell *matHeaderCellDef>Hình ảnh</th>
            <td mat-cell *matCellDef="let row">
              <img [src]="row.imageUrl" class="product-image" alt="Hình ảnh sản phẩm" />
            </td>
          </ng-container>
          <ng-container matColumnDef="productId">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Mã sản phẩm</th>
            <td mat-cell *matCellDef="let row">{{ row.product?.productId }}</td>
          </ng-container>
          <ng-container matColumnDef="uploadedDate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Ngày tải lên</th>
            <td mat-cell *matCellDef="let row">{{ row.uploadedDate | date: 'dd-MM-yyyy' }}</td>
          </ng-container>
          <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef>Xoá</th>
            <td mat-cell *matCellDef="let row">
              <a class="delete-icon" (click)="delete(row.imageId)">
                <i class="bi bi-trash-fill"></i>
              </a>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="columns"></tr>
          <tr mat-row *matRowDef="let row; columns: columns;"></tr>
        </table>
        <mat-paginator [length]="imagesLength" [pageSize]="10" [pageSizeOptions]="[10, 25, 50, 100]"></mat-paginator>
      </div>
    </div>
  </div>
</div>
